{% extends "base_generic.html" %}

{% block content %}
<style>
    .dot{
        list-style-type: none;
        bottom :10px
    }

    .pos{
        display: block;
        margin-left: 24%;
        margin-top: 49%;
  
    }

    .pos1{
        display: block;
        margin-left: 0.1%;
        margin-top: 49%; 
    }

    .pos2{
        display: block;
        margin-left: 0.1%;
        margin-top: 49%;
    }

    .pos3{
        display: block;
        margin-left: 0.1%;
        margin-top: 49%;
    }

    li{
        float:left;
    }
</style>
<h1>.</h1>
<ul class="dot">
    <li class = "pos">
        <a href = "https://genshin.mihoyo.com/en/news/detail/5679?utm_source=launch&utm_medium=official">
        <img src ="https://webstatic-sea.mihoyo.com/upload/event/2020/12/14/49d5113e4e2ab9ae37beb63c6acbc029_8761626118042981173.png" width="auto" height="100%" >
        </a>
   </li>
   <li class = "pos1">
    <a href = "https://apps.apple.com/app/id1517783697">
    <img src ="https://webstatic-sea.mihoyo.com/upload/event/2020/12/14/6ff53bc5d797e9efc2ac7b2b602c267a_8295237617862628623.png" width="auto" height="100%" >
    </a>
</li>

<li class = "pos2">
    <a href = "https://play.google.com/store/apps/details?id=com.miHoYo.GenshinImpact">
    <img src ="https://webstatic-sea.mihoyo.com/upload/event/2020/12/14/396b8eb0d0d2f27aadb476e0b62d0926_8878641138830187947.png" width="auto" height="100%" >
    </a>
</li>

<li class = "pos3">
    <a href = "https://ys-api-os.mihoyo.com/event/download_porter/link/ys_global/genshinimpactpc/default">
    <img src ="https://webstatic-sea.mihoyo.com/upload/event/2020/12/14/a27edf5aa048e9509f0850856ad3f403_396608336029707725.png" width="auto" height="100%" >
    </a>
</li>
</ul>
{% endblock %}