{% extends "base_generic.html" %}
{% block content %}
<style>
    .button{
      background-color: lightblue;
      border: none;
      color: white;
      padding: 8px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5px 2px;
      cursor: pointer;
    }

    .white{
        color:darkblue;
    }

    li{
        font-size: 18px;
    }

</style>
<br></br>
<br></br>
{% block title %}
<title>
    Home Page
</title>
{% endblock %}

<div class="col-12">
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <td>Character</td>
                <td>Rarity</td>
                <td>Gender</td>
                <td>Nation</td>
                <td>Weapon</td>
                <td>Element</td>
            </tr>
        </thead>
        <tbody>
            {% for character in characters %}
            <tr>
                <td>{{ character.name }}</td>
                <td>{{ character.rarity }}</td>
                <td>{{ character.gender.all|join:', ' }}</td>
                <td>{{ character.nation.all|join:', ' }}</td>
                <td>{{ character.weapon.all|join:', ' }}</td>
                <td>{{ character.element.all|join:', ' }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <form method="post" action="">
        {% csrf_token %}
        <input name="character" type="text"/>
        <button type="submit">Search</button>
    </form>
</div>
{% endblock %}




