{% extends "base_generic.html" %}

{% block content %}
{% if type != 'edit' %}
<br></br>
<br></br>
<h1>Add a Rarity</h1>
{% else %}
<br></br>
<br></br>
<h1>Edit a Rarity</h1>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    {% if type != 'edit' %}
    <input type="submit" value="Add" class="btn btn-primary"/>
    {% else %}
    <input type="submit" value="Update" class="btn btn-primary"/>
    {% endif %}
    <a href="{% url 'raritys' %}" class="btn btn-danger">Cancel</a>
</form>
{% endblock %}